ecua_anexos_ats/documentacion/at.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by TEAM (RENEGADE) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:simpleType name="numeroRucType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](19|20)\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaRetType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimientoType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarjetaCreditoType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ptoEmisionType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocialType">
		<xsd:annotation>
			<xsd:documentation>Razon Social del Informante</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoClienteType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="anioType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el anio correspondiente a la informacion que esta presentando el contribuyente, consta de cuatro diÃ___Ã__Ã_Â­gitos: Ej: 2003, 2004, 2005, etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2000"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoComprobanteType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de comprobantes vigentes segun el tipo de transaccion seleccionada</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimientoRecapType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de comprobantes vigentes para tarjetas de credito 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoFideicomisoType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de Fideicomisos 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="exportacionDeType">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="docModificadoType">
		<xsd:annotation>
			<xsd:documentation>Se detalla los tipos de comprobantes de venta autorizados              </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencialType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del comprobante de venta</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secRetencionType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del comprobante de retencion</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secModType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del comprobante modificado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroComprobantesType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de  comprobantes emitidos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroVouchersType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de  vouchers emitidos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="porcentajeAirType">
		<xsd:annotation>
			<xsd:documentation>Porcentaje  AIR</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="porRetFType">
		<xsd:annotation>
			<xsd:documentation>Porcentaje Retencion de Fideicomisos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codRetAirType">
		<xsd:annotation>
			<xsd:documentation>Se detalla el concepto de retencion de Renta </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[A-Za-z0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="distAduaneroType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de distrito aduanero
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="regimenType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de regimen
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="correlativoType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de correlativo
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:minLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fueType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero del Fue
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="verificadorType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de verificador
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="autorizacionType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por el situracion para emtir comprobantes de venta
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9]{3,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="autRetencionType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por el sistema de Facturacion para emtir comprobantes de venta
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9]{1,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="autModificadoType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por el sistema de Facturacion para emtir comprobantes de venta
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9]{1,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroRecapType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de recaps emitidos
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[A-Za-z0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codSustentoType">
		<xsd:annotation>
			<xsd:documentation>Este campo es obligatorio y su informacion es uno de los codigos de los tipos de sustento tributario</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="consumoCeroType">
		<xsd:annotation>
			<xsd:documentation>Consumo 0 %</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="consumoGravadoType">
		<xsd:annotation>
			<xsd:documentation>Consumo Gravado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalConsumoType">
		<xsd:annotation>
			<xsd:documentation>Total del Consumo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="comisionType">
		<xsd:annotation>
			<xsd:documentation>Comision</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponibleType">
		<xsd:annotation>
			<xsd:documentation>Base Imponible 0 %</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImpGravType">
		<xsd:annotation>
			<xsd:documentation>Base Imponible Gravada</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="montoIvaType">
		<xsd:annotation>
			<xsd:documentation>Monto de IVA</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="montoIvaBienesType">
		<xsd:annotation>
			<xsd:documentation>Monto de IVA BIENES </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalFType">
		<xsd:annotation>
			<xsd:documentation>Valor Total de Fideicomiso por tipo </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="individualFType">
		<xsd:annotation>
			<xsd:documentation>Valor Individual de Fideicomiso por tipo </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="montoIvaServicosType">
		<xsd:annotation>
			<xsd:documentation>Monto de IVA SERVICIOS </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImpIceType">
		<xsd:annotation>
			<xsd:documentation>Base Imponible ICE</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="montoIceType">
		<xsd:annotation>
			<xsd:documentation>Monto de ICE</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorRetBienesType">
		<xsd:annotation>
			<xsd:documentation>Valor Retenido de IVA - BIENES </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorRetType">
		<xsd:annotation>
			<xsd:documentation>Valor Retenido  </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorRetServiciosType">
		<xsd:annotation>
			<xsd:documentation>Valor Retenido de IVA - SERVICIOS </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorFOBType">
		<xsd:annotation>
			<xsd:documentation>Valor FOB </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorFOBComprobanteType">
		<xsd:annotation>
			<xsd:documentation>Valor FOB del comprobante de Exportacion</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mesType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al periodo informado compuesto de dos digitos que van desde el 01 hasta el 12, corresponde al mes informado.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="2"/>
			<xsd:pattern value="(0[1-9]|1[012])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tpIdProvType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al detalle del tipo de identificacio de Compras.
                  </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tpIdClienteType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al detalle del tipo de identificacion de Ventas.
                  </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="estRecapType">
		<xsd:annotation>
			<xsd:documentation>Corresponde al detalle del tipo de identificacio de Recaps.
                  </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="identificacionRecapType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9a-zA-Z]{0,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="docTranspType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9a-zA-Z]{0,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idProvType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9a-zA-Z]{0,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idClienteType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9a-zA-Z]{0,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ivaType">
		<xsd:sequence>
			<xsd:element name="numeroRuc" type="numeroRucType"/>
			<xsd:element name="razonSocial" type="razonSocialType"/>
			<xsd:element name="anio" type="anioType"/>
			<xsd:element name="mes" type="mesType"/>
			<xsd:element name="compras" type="comprasType" minOccurs="0">
				<xsd:unique name="compraDuplicada">
					<xsd:selector xpath="./detalleCompras"/>
					<xsd:field xpath="codSustento"/>
					<xsd:field xpath="tpIdProv"/>
					<xsd:field xpath="idProv"/>
					<xsd:field xpath="tipoComprobante"/>
					<xsd:field xpath="establecimiento"/>
					<xsd:field xpath="puntoEmision"/>
					<xsd:field xpath="secuencial"/>
					<xsd:field xpath="autorizacion"/>
					<xsd:field xpath="estabModificado"/>
					<xsd:field xpath="ptoEmiModificado"/>
					<xsd:field xpath="secModificado"/>
					<xsd:field xpath="autModificado"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="ventas" type="ventasType" minOccurs="0">
				<xsd:unique name="ventaDuplicada">
					<xsd:selector xpath="./detalleVentas"/>
					<xsd:field xpath="tpIdCliente"/>
					<xsd:field xpath="idCliente"/>
					<xsd:field xpath="tipoComprobante"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="exportaciones" type="exportacionesType" minOccurs="0">
				<xsd:unique name="exportacionDuplicada">
					<xsd:selector xpath="./detalleExportaciones"/>
					<xsd:field xpath="exportacionDe"/>
					<xsd:field xpath="tipoComprobante"/>
					<xsd:field xpath="fechaEmbarque"/>
					<xsd:field xpath="fue"/>
					<xsd:field xpath="establecimiento"/>
					<xsd:field xpath="puntoEmision"/>
					<xsd:field xpath="secuencial"/>
					<xsd:field xpath="autorizacion"/>
					<xsd:field xpath="fechaEmision"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="recap" type="recapType" minOccurs="0">
				<xsd:unique name="RecapDuplicado">
					<xsd:selector xpath="./detalleRecap"/>
					<xsd:field xpath="establecimientoRecap"/>
					<xsd:field xpath="identificacionRecap"/>
					<xsd:field xpath="tipoComprobante"/>
					<xsd:field xpath="numeroRecap"/>
					<xsd:field xpath="tarjetaCredito"/>
					<xsd:field xpath="establecimiento"/>
					<xsd:field xpath="puntoEmision"/>
					<xsd:field xpath="secuencial"/>
					<xsd:field xpath="autorizacion"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="fideicomisos" type="fideicomisosType" minOccurs="0">
				<xsd:unique name="fideicomisoDuplucado">
					<xsd:selector xpath="./detalleFideicomisos"/>
					<xsd:field xpath="tipoBeneficiario"/>
					<xsd:field xpath="idBeneficiario"/>
					<xsd:field xpath="rucFideicomiso"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="anulados" type="anuladosType" minOccurs="0">
				<xsd:unique name="anuladoDuplicado">
					<xsd:selector xpath="./detalleAnulados"/>
					<xsd:field xpath="tipoComprobante"/>
					<xsd:field xpath="establecimiento"/>
					<xsd:field xpath="puntoEmision"/>
					<xsd:field xpath="secuencialInicio"/>
					<xsd:field xpath="secuencialFin"/>
					<xsd:field xpath="autorizacion"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="rendFinancieros" type="rendFinancierosType" minOccurs="0">
				<xsd:unique name="retenidoDuplicado">
					<xsd:selector xpath="./detalleRendFinancieros"/>
					<xsd:field xpath="retenido"/>
					<xsd:field xpath="idRetenido"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="comprasType">
		<xsd:sequence>
			<xsd:element name="detalleCompras" type="detalleComprasType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="rendFinancierosType">
		<xsd:sequence>
			<xsd:element name="detalleRendFinancieros" type="detalleRendFinancierosType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="airType">
		<xsd:sequence>
			<xsd:element name="detalleAir" type="detalleAirType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="airRendType">
		<xsd:sequence>
			<xsd:element name="detalleAirRen" type="detalleAirRenType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fValorType">
		<xsd:sequence>
			<xsd:element name="detallefValor" type="detallefValorType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ventasType">
		<xsd:sequence>
			<xsd:element name="detalleVentas" type="detalleVentasType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="exportacionesType">
		<xsd:sequence>
			<xsd:element name="detalleExportaciones" type="detalleExportacionesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="recapType">
		<xsd:sequence>
			<xsd:element name="detalleRecap" type="detalleRecapType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fideicomisosType">
		<xsd:sequence>
			<xsd:element name="detalleFideicomisos" type="detalleFideicomisosType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="anuladosType">
		<xsd:sequence>
			<xsd:element name="detalleAnulados" type="detalleAnuladosType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sustentoType">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="detalleComprasType">
		<xsd:sequence>
			<xsd:element name="codSustento" type="codSustentoType"/>
			<xsd:element name="tpIdProv" type="tpIdProvType"/>
			<xsd:element name="idProv" type="idProvType"/>
			<xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
			<xsd:element name="fechaRegistro" type="fechaType"/>
			<xsd:element name="establecimiento" type="establecimientoType"/>
			<xsd:element name="puntoEmision" type="ptoEmisionType"/>
			<xsd:element name="secuencial" type="secuencialType"/>
			<xsd:element name="fechaEmision" type="fechaType"/>
			<xsd:element name="autorizacion" type="autorizacionType"/>
			<xsd:element name="baseNoGraIva" type="baseImponibleType"/>
			<xsd:element name="baseImponible" type="baseImponibleType"/>
			<xsd:element name="baseImpGrav" type="baseImpGravType"/>
			<xsd:element name="montoIce" type="montoIceType"/>
			<xsd:element name="montoIva" type="montoIvaType"/>
			<xsd:element name="valorRetBienes" type="valorRetBienesType"/>
			<xsd:element name="valorRetServicios" type="valorRetServiciosType"/>
			<xsd:element name="valRetServ100" type="valorRetServiciosType"/>
			<xsd:element name="air" type="airType">
				<xsd:unique name="airDuplicado">
					<xsd:selector xpath="./detalleAir"/>
					<xsd:field xpath="codRetAir"/>
					<xsd:field xpath="porcentajeAir"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="estabRetencion1" type="establecimientoType" minOccurs="0"/>
			<xsd:element name="ptoEmiRetencion1" type="ptoEmisionType" minOccurs="0"/>
			<xsd:element name="secRetencion1" type="secRetencionType" minOccurs="0"/>
			<xsd:element name="autRetencion1" type="autRetencionType" minOccurs="0"/>
			<xsd:element name="fechaEmiRet1" type="fechaRetType" minOccurs="0"/>
			<xsd:element name="estabRetencion2" type="establecimientoType" minOccurs="0"/>
			<xsd:element name="ptoEmiRetencion2" type="ptoEmisionType" minOccurs="0"/>
			<xsd:element name="secRetencion2" type="secRetencionType" minOccurs="0"/>
			<xsd:element name="autRetencion2" type="autRetencionType" minOccurs="0"/>
			<xsd:element name="fechaEmiRet2" type="fechaRetType" minOccurs="0"/>
			<xsd:element name="docModificado" type="docModificadoType"/>
			<xsd:element name="estabModificado" type="establecimientoType"/>
			<xsd:element name="ptoEmiModificado" type="ptoEmisionType"/>
			<xsd:element name="secModificado" type="secModType"/>
			<xsd:element name="autModificado" type="autModificadoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleAirType">
		<xsd:sequence>
			<xsd:element name="codRetAir" type="codRetAirType"/>
			<xsd:element name="baseImpAir" type="baseImponibleType"/>
			<xsd:element name="porcentajeAir" type="porcentajeAirType"/>
			<xsd:element name="valRetAir" type="valorRetBienesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleRendFinancierosType">
		<xsd:sequence>
			<xsd:element name="retenido" type="tpIdProvType"/>
			<xsd:element name="idRetenido" type="idProvType"/>
			<xsd:element name="ahorroPN" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="totalDep" type="comisionType"/>
						<xsd:element name="rendGen" type="comisionType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ctaExenta" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="totalDep" type="comisionType"/>
						<xsd:element name="rendGen" type="comisionType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="retenciones" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="detRet" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="estabRetencion" type="establecimientoType"/>
									<xsd:element name="ptoEmiRetencion" type="ptoEmisionType"/>
									<xsd:element name="secRetencion" type="secRetencionType"/>
									<xsd:element name="autRetencion" type="autRetencionType"/>
									<xsd:element name="fechaEmiRet" type="fechaRetType"/>
									<xsd:element name="airRend" type="airRendType">
										<xsd:unique name="retencionDuplicada">
											<xsd:selector xpath="./detalleAirRen"/>
											<xsd:field xpath="codRetAir"/>
											<xsd:field xpath="porcentajeAir"/>
										</xsd:unique>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:unique name="retCompDuplicado">
					<xsd:selector xpath="./detRet"/>
					<xsd:field xpath="ptoEmiRetencion"/>
					<xsd:field xpath="estabRetencion"/>
					<xsd:field xpath="secRetencion"/>
					<xsd:field xpath="autRetencion"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleAirRenType">
		<xsd:sequence>
			<xsd:element name="codRetAir" type="codRetAirType"/>
			<xsd:element name="deposito" type="baseImponibleType"/>
			<xsd:element name="baseImpAir" type="baseImponibleType"/>
			<xsd:element name="porcentajeAir" type="porcentajeAirType"/>
			<xsd:element name="valRetAir" type="valorRetBienesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detallefValorType">
		<xsd:sequence>
			<xsd:element name="tipoFideicomiso" type="tipoFideicomisoType"/>
			<xsd:element name="totalF" type="totalFType"/>
			<xsd:element name="individualF" type="individualFType"/>
			<xsd:element name="porRetF" type="porRetFType"/>
			<xsd:element name="valorRetF" type="valorRetBienesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleVentasType">
		<xsd:sequence>
			<xsd:element name="tpIdCliente" type="tpIdClienteType"/>
			<xsd:element name="idCliente" type="idClienteType"/>
			<xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
			<xsd:element name="numeroComprobantes" type="numeroComprobantesType"/>
			<xsd:element name="baseNoGraIva" type="baseImponibleType"/>
			<xsd:element name="baseImponible" type="baseImponibleType"/>
			<xsd:element name="baseImpGrav" type="baseImpGravType"/>
			<xsd:element name="montoIva" type="montoIvaType"/>
			<xsd:element name="valorRetIva" type="valorRetType"/>
			<xsd:element name="valorRetRenta" type="valorRetType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleExportacionesType">
		<xsd:sequence>
			<xsd:element name="exportacionDe" type="exportacionDeType"/>
			<xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
			<xsd:element name="distAduanero" type="distAduaneroType" minOccurs="0"/>
			<xsd:element name="anio" type="anioType" minOccurs="0"/>
			<xsd:element name="regimen" type="regimenType" minOccurs="0"/>
			<xsd:element name="correlativo" type="correlativoType" minOccurs="0"/>
			<xsd:element name="verificador" type="verificadorType" minOccurs="0"/>
			<xsd:element name="docTransp" type="docTranspType" minOccurs="0"/>
			<xsd:element name="fechaEmbarque" type="fechaType"/>
			<xsd:element name="fue" type="fueType"/>
			<xsd:element name="valorFOB" type="valorFOBType"/>
			<xsd:element name="valorFOBComprobante" type="valorFOBComprobanteType"/>
			<xsd:element name="establecimiento" type="establecimientoType"/>
			<xsd:element name="puntoEmision" type="ptoEmisionType"/>
			<xsd:element name="secuencial" type="secuencialType"/>
			<xsd:element name="autorizacion" type="autorizacionType"/>
			<xsd:element name="fechaEmision" type="fechaType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleRecapType">
		<xsd:sequence>
			<xsd:element name="establecimientoRecap" type="estRecapType"/>
			<xsd:element name="identificacionRecap" type="identificacionRecapType"/>
			<xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
			<xsd:element name="numeroRecap" type="numeroRecapType"/>
			<xsd:element name="fechaPago" type="fechaType"/>
			<xsd:element name="tarjetaCredito" type="tarjetaCreditoType"/>
			<xsd:element name="fechaEmisionRecap" type="fechaType"/>
			<xsd:element name="consumoCero" type="consumoCeroType"/>
			<xsd:element name="consumoGravado" type="consumoGravadoType"/>
			<xsd:element name="totalConsumo" type="totalConsumoType"/>
			<xsd:element name="montoIva" type="montoIvaType"/>
			<xsd:element name="comision" type="comisionType"/>
			<xsd:element name="numeroVouchers" type="numeroVouchersType"/>
			<xsd:element name="valorRetBienes" type="valorRetBienesType"/>
			<xsd:element name="valorRetServicios" type="valorRetServiciosType"/>
			<xsd:element name="valRetServ100" type="valorRetServiciosType"/>
			<xsd:element name="air" type="airType" minOccurs="0">
				<xsd:unique name="codRetPorcentajeRC">
					<xsd:selector xpath="./detalleAir"/>
					<xsd:field xpath="codRetAir"/>
					<xsd:field xpath="porcentajeAir"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="establecimiento" type="establecimientoType"/>
			<xsd:element name="puntoEmision" type="ptoEmisionType"/>
			<xsd:element name="secuencial" type="secRetencionType"/>
			<xsd:element name="autorizacion" type="autRetencionType"/>
			<xsd:element name="fechaEmision" type="fechaRetType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleFideicomisosType">
		<xsd:sequence>
			<xsd:element name="tipoBeneficiario" type="tpIdProvType"/>
			<xsd:element name="idBeneficiario" type="idProvType"/>
			<xsd:element name="rucFideicomiso" type="numeroRucType"/>
			<xsd:element name="fValor" type="fValorType">
				<xsd:unique name="tipoFideiDuplicado">
					<xsd:selector xpath="./detallefValor"/>
					<xsd:field xpath="tipoFideicomiso"/>
					<xsd:field xpath="porRetF"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleAnuladosType">
		<xsd:sequence>
			<xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
			<xsd:element name="establecimiento" type="establecimientoType"/>
			<xsd:element name="puntoEmision" type="ptoEmisionType"/>
			<xsd:element name="secuencialInicio" type="secuencialType"/>
			<xsd:element name="secuencialFin" type="secuencialType"/>
			<xsd:element name="autorizacion" type="autorizacionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="iva" type="ivaType"/>
</xsd:schema>
